/* App.css */

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(-45deg, #FF4081, #00BCD4, #FF4081, #00BCD4);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease-in-out infinite;
}

.App {
  text-align: center;
  
  
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #00bcd4;
  margin: 20px 0;
  

}

.App-header {
  background-color: #ffffffda;
  padding: 20px;
  margin: 40px 40px;
  border-radius: 10px;
  

}

/* Add more styling as needed */
